page-share-vote {
	ion-icon[name="share"]{
		font-family: "Ionicons" !important;
		font-size: 2.8rem !important;
		&:before{
			font-family: "Ionicons" !important;
		}
	}

	p{
		color: color($colors, white);
		font-size: 2rem;
		padding: 5px 0; 
	}

	ion-list{
		border: 0 !important;
		margin-top: 30px !important;
		border-radius: 10px !important;
		overflow: hidden;
		.item-block:first-child{
			border-top: 0 !important;
		}
		.item-block{
			position: relative;
			border-bottom: 0;
			box-shadow: none !important;
			&:before{
				left: 0;
				position: absolute;
				margin-right: 10px;
				font-size: 1.5rem;
				color: color($colors, grey);
			}
			.text-input{
				margin-left: 0 !important;
				width: calc( 100% - 8px );
				&[disabled]{
					opacity: 1 !important;
				}
			}
			.item-inner{
				border-bottom: 0 !important;
				box-shadow: none !important;
				ion-label{
					color: color($colors, grey);
				}
				ion-input{
					color: color($colors, black);
				}
				ion-textarea{
					height: 100px;
				}
			}
		}
	}

	.item.item-block.item-input.item-textarea.input-has-focus.item-input-has-focus{
		border-bottom: 0 !important;
		box-shadow: none !important;
	}
}
