recover-password {
	.fixed-content{
		background: url(../assets/images/senado.jpg) center center no-repeat;
		background-size: cover;
	}

	.scroll-content{
		background-color: rgba(color($colors, gold), 0.7);
		text-align: center;
	}

	#logo{
		display: block;
		float: none;
		margin: 40px auto 30%;
		width: 70%;
	}

	ion-list{
		text-align: center;
		border-radius: 6px;
		border: 1px solid color($colors, white);
		margin-bottom: 20px !important;
		ion-item{
			&:first-child{
				border-bottom: 1px solid color($colors, white) !important;
				border-radius: 6px 6px 0 0;
			}
			&:last-child{
				border-bottom: 0 !important;
				border-radius: 0 0 6px 6px;
				box-shadow: none !important;
			}
			background-color: rgba(color($colors, white), 0.3) !important;
			color: color($colors, white);
			.item-inner, .item-inner:focus{
				border-bottom: 0 !important;
				box-shadow: none !important;
			}
			input{
				font-family: 'Century';
				color: color($colors, white);
				&::-webkit-input-placeholder {
				  color: color($colors, white) !important;
				}
			}
		}
	}

	hr{
		height: 1px !important;
		margin-top: 20px;
		margin-bottom: 10px;
		background-color: rgba(255,255,255,0.3) !important;
	}

	#recover{
		background-color: rgba(color($colors, white), 0.3) !important;
		color: color($colors, white) !important;
		border: 1px solid color($colors, white);
		text-transform: initial !important;
		box-shadow: none !important;
		border-radius: 6px !important;
		height: 3.8rem !important;
		&.activated{
			background-color: rgba(color($colors, white), 1) !important;
			color: color($colors, gold) !important;
		}
		.button-inner{
			font-size: 2rem;
		}
	}

	#login{
		color: color($colors, white) !important;
		text-transform: initial !important;
		box-shadow: none !important;
		border-radius: 6px !important;
		height: 3.8rem !important;
		&.activated{
			background-color: rgba(color($colors, white), 1) !important;
			color: color($colors, gold) !important;
		}
		.button-inner{
			font-size: 1.5rem;
		}
	}
}
