<ion-content no-bounce  padding class="background-image">
	<h2 id="title">Envíanos tu correo electrónico y podrás recuperar tu contraseña</h2>
	
	<ion-list no-lines class="form-senado">
		<ion-item>
	    <ion-input type="email" placeholder="Correo Electrónico" [(ngModel)]="form.email" clearInput></ion-input>
	  </ion-item>
	</ion-list>

	<button ion-button class="button-big" (click)="doRecover()" [disabled]="!form.email || !validateEmail(form.email)">Enviar</button>

	<hr>
	
	<button ion-button clear class="button-clear" (click)="dismiss()">Iniciar sesión</button>
</ion-content>