<div id="no-plenary-overlay">
  <ion-icon class="icon-cancel" (click)="dismiss()"></ion-icon>
  <div class="middle golden">
    <div class="content-text">
       <img src="assets/images/logo.svg">
      <p>Mi Senado es la primera App</p>
      <p>del mundo de participación e interacción</p>
      <p><strong>DURANTE</strong> las sesiones de plenaria</p>
      <p class="margin-top">En este momento</p>
    </div>

    <div class="red-bar">
      <strong>No hay comisión</strong>
    </div>  

    <div class="red-bar">
      No hay plenaria
    </div>  
  </div>
  <div class="middle white">
    <div class="content-text">
      <p>Mientras comienza</p>
      <p>la sesión usted puede</p>

      <button ion-button class="button-senado center uppercase" (click)="dismiss()">Consultar</button>
    </div>
  </div>
</div>