page-favorites {
	ion-list {
		margin-bottom: 0 !important;
		ion-icon.icon-md[item-start] + .item-inner{
			    margin-left: 5px !important;
		}
		ion-icon{
			padding-right: 10px;
			padding-top: 5px;
			border-right: 1px solid color($colors, gray) !important;
			font-size: 1.7rem !important;
			&.active{
				color: color($colors, gold) !important;
			}
		}
	}
}
